body {
    margin: 0;
    background: lightgoldenrodyellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navigation {
    width: 80%;
    margin: 0 auto;
}

header {
    background: tan;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 40px;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover{
    color: white;
}

.research
{
    margin-top: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px;
}

.first
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.hevt
{
    font-weight: bold;
}

.second
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; 
}

.bist
{
    font-weight: bold;
}

.third
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; 
}

.gdsc
{
    font-weight: bold;
}

.fourth
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; 
}

.website
{
    font-weight: bold;
}

.fifth
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; 
}

.bird
{
    font-weight: bold;
}

.sixth
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; 
}

.tello
{
    font-weight: bold;
}

.seventh
{
    margin-left: 250px;
    margin-right: 250px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-bottom: 20px; 
}

.design
{
    font-weight: bold;
}